*{
    margin: 0;
    padding: 0;
}
body {
    background-color: lightcyan;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
}

.loginUndLogoutContainer {
    display: flex;
    position: absolute;
    left: 70rem;
    font-size: 30px;
    bottom: 38rem;
}

.logoContainer {
    display: flex;
}
.logo {
    display: flex;
    height: 70px;
    border-radius: 30px;
}

.logoText {
    display: flex;
    position: center;
    left: 5rem;
    top: 15px;
    font-family: "Reenie Beanie";
    font-size: 45px;
    color: #0e7490;
}

.postIts2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding: 20px;
    font-family:'Reenie Beanie';
    font-size: 3rem;

}


.buttonFont {
    font-family: "Reenie Beanie";
}

.textFont {
    font-family: "Reenie Beanie"
}

.loginPage1 {
    display: flex;
    flex-direction: column;
    line-height: 1;
    text-align:center;
    width: 300px;
    margin: 25px;
    margin-top: 60px;
    justify-content: space-between;
    min-height:250px;
    max-height:400px;
    position:relative;
    border:1px solid #E8E8E8;
    border-top:18px solid #fdfd86;
    font-family:'Reenie Beanie';
    font-size:2em;
    border-bottom-right-radius: 60px 5px;
    background: #fdfd86;
}

.loginPage1 :after {
    content: "";
    position: absolute;
    z-index: -1;
    right: -0px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.loginPage2 {
    display: flex;
    flex-direction: column;
    line-height: 1;
    text-align:center;
    width: 300px;
    margin: 25px;
    margin-top: 60px;
    justify-content: space-between;
    min-height:250px;
    max-height:400px;
    position:relative;
    border:1px solid #E8E8E8;
    border-top:18px solid #fdfd86;
    font-family:'Reenie Beanie';
    font-size:2em;
    border-bottom-right-radius: 60px 5px;
    background: #fdfd86;

}

.loginPage2 :after {
    content: "";
    position: absolute;
    z-index: -1;
    right: -0px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);

}


.loginPageButtons {
    display: flex;
    flex-direction: column;
    padding: 20px;

}
