
.app2 {
    display: flex;
    flex-direction: column;
    line-height: 1;
    text-align:-moz-left;
    width: 600px;
    margin: 25px;
    padding: 8px;
    margin-top: 60px;
    min-height:250px;
    max-height:400px;
    position:relative;
    border:1px solid #E8E8E8;
    border-top:18px solid #0e7490;
    font-family:'Reenie Beanie';
    font-size:2em;
    border-bottom-right-radius: 60px 5px;
    background: #c0ffff;
}

.app2 :after{
    content: "";
    position: absolute;
    z-index: -1;
    right: -0px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.80);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);

}


.postIt {
    display: flex;
    flex-direction: column;
    line-height: 1;
    text-align:center;
    width: 275px;
    margin: 25px;
    margin-top: 60px;
    justify-content: space-between;
    min-height:250px;
    max-height:250px;
    position:relative;
    border:1px solid #E8E8E8;
    border-top:18px solid #fdfd86;
    font-family:'Reenie Beanie';
    font-size:2em;
    border-bottom-right-radius: 60px 5px;
    background: #fdfd86;
}

.postIt :after {
    content: "";
    position: absolute;
    z-index: -1;
    right: -0px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.postItContainer {
    display: flex;
    flex-wrap: wrap;

}